<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="dn2.ecommerce.domain.user.repository.UserMapper">
	
	<select id = "findUserByIdAndPassword" resultType="dn2.ecommerce.global.entity.User">
		SELECT * FROM user WHERE id = #{id} AND password = #{password};
	</select>
		
	<insert id="insertUser">
		INSERT INTO user (id,password,name) VALUES (#{id}, #{password}, #{name});
	</insert>
	
<!--	~examples~

<select id = "selectUserByUserNumORID" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE user_num = #{user_num} OR id = #{id} ;
	</select>
	
	<select id = "selectUserByIDAndPassword" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE id = #{id} AND password = #{password} ;
	</select>
	
	<select id = "getBookList" resultType="com.dsu2021.pj.entity.Book">
		SELECT * FROM book WHERE book_name LIKE '%${book_name}%';
	</select>
	
	<select id = "getBookByBookNum" resultType="com.dsu2021.pj.entity.Book">
		SELECT * FROM book WHERE book_num = #{book_num};
	</select>
	
	<select id = "getUserById" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE id = #{id};
	</select>
	
	<select id = "getCart" resultType="com.dsu2021.pj.entity.Cart">
		SELECT * FROM cart WHERE user_num = #{user_num};
	</select>
	
	<select id = "getCardList" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE user_num = #{user_num};
	</select>
	
	<select id = "checkBookPriceWithBookNum" resultType="Integer">
		SELECT book_price FROM book WHERE book_num = #{book_num};
	</select>
	
	<select id="getBookCartsByCartNum" resultType="com.dsu2021.pj.entity.BookCart">
		SELECT * FROM book_cart WHERE cart_num = #{cart_num};
	</select>
	
	<select id="getBookCartsByBookNum" resultType="com.dsu2021.pj.entity.BookCart">
		SELECT * FROM book_cart WHERE book_num = #{book_num};
	</select>
	
	<select id="getAddressByUserNum" resultType="com.dsu2021.pj.entity.Address">
		SELECT * FROM address WHERE user_num = #{user_num};
	</select>
		
	<select id="getCardsByUserNum" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE user_num = #{user_num};
	</select>
	
	<select id="getCardByCard_num" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE card_num = #{card_num};
	</select>
	
	<select id="getLatestOrderByUserNum" resultType="com.dsu2021.pj.entity.Order">
		SELECT * FROM `order` WHERE user_num = #{user_num} ORDER BY order_num desc limit 0,1;
	</select>
	
	<select id = "getOrderList" resultType="com.dsu2021.pj.entity.Order">
		SELECT * FROM `order` WHERE user_num = #{user_num};
	</select>
	
	<select id = "getBookOrderByOrderNum" resultType="com.dsu2021.pj.entity.BookOrder">
		SELECT * FROM `book_order` WHERE order_num = #{order_num};
	</select>
	
	<select id = "getUserByUserNum" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM `user` WHERE user_num = #{user_num};
	</select>
	
	<select id = "getCouponUserByUserNum" resultType="com.dsu2021.pj.entity.CouponUser">
		SELECT * FROM `coupon_user` WHERE user_num = #{user_num};
	</select>
		INSERT
		
	<insert id="insertCoupon">
		INSERT INTO coupon (coupon_name,coupon_discount_rate,coupon_discount_price,coupon_expire_date) VALUES (#{coupon_name},#{coupon_discount_rate},#{coupon_discount_price},#{coupon_expire_date});
	</insert>
	
	<insert id="insertCouponUser">
		INSERT INTO coupon_user (coupon_num,user_num) VALUES (#{coupon_num},#{user_num});
	</insert>

	<insert id="insertUser">
		INSERT INTO user VALUES (#{user_num},#{name},#{id},#{password},#{invite_user_num},#{point});
	</insert>
	
	<insert id="insertAddress">
		INSERT INTO address (user_num,zip_code,default_addr,detail_addr) VALUES (#{user_num},#{zip_code},#{default_addr},#{detail_addr});
	</insert>
	
	<insert id="insertBook">
		INSERT INTO book (book_name,book_stock,book_price,book_point_rate) VALUES (#{book_name},#{book_stock},#{book_price},#{book_point_rate});
	</insert>
	
	<insert id="createCart">
		INSERT INTO cart (user_num) VALUES (#{user_num});
	</insert>
	
	<insert id="addToCart">
		INSERT INTO book_cart (book_num, cart_num, book_cart_amount, book_cart_price) VALUES (#{book_num},#{cart_num},#{book_cart_amount},#{book_cart_price});
	</insert>
	
	<insert id="createOrder">
		INSERT INTO `order` (user_num,order_total,order_zip_code,order_default_addr,order_detail_addr,order_card_num,order_card_valid_date,order_card_type,order_discount) VALUES (#{user_num},#{order_total},#{order_zip_code},#{order_default_addr},#{order_detail_addr},#{order_card_num},#{order_card_valid_date},#{order_card_type},#{order_discount});
	</insert>
	
	<insert id="addCard">
		INSERT INTO card VALUES (#{card_num},#{user_num},#{card_valid_date},#{card_type});
	</insert>
	
	<insert id="createBook_order">
		INSERT INTO book_order (order_num,book_num,book_order_amount,book_order_price) VALUES (#{order_num},#{book_num},#{book_order_amount},#{book_order_price});
	</insert>
	 
	 UPDATE
	 
	 <update id="modifyBook">
	 	UPDATE book SET book_name = #{book_name} ,book_stock = #{book_stock},book_price = #{book_price} WHERE book_num = #{book_num};
	 </update>
	 
	 <update id="addjustBookCartPrice">
	 	UPDATE book_cart SET book_cart_price = #{book_cart_price} WHERE book_cart_num = #{book_cart_num};
	 </update>
	 
	 <update id = "updatePoint">
		UPDATE user SET point = #{point} WHERE user_num = #{user_num};
	</update>
	 
	DELETE
		
	<delete id = "deleteBookByBookNum">
		DELETE FROM book WHERE book_num = #{book_num};
	</delete>
		
	<delete id = "deleteBookCartByCartNum">
		DELETE FROM book_cart WHERE cart_num = #{cart_num};
	</delete>
	
	<delete id = "deleteCartByUserNum">
		DELETE FROM cart WHERE user_num = #{user_num};
	</delete>
	
	<delete id = "deleteBookCartByBookCartNum">
		DELETE FROM book_cart WHERE book_cart_num = #{book_cart_num};
	</delete>
	
	<delete id = "deleteBookOrderByOrderNum">
		DELETE FROM book_order WHERE order_num = #{order_num};
	</delete>
	
	<delete id = "deleteOrderByOrderNum">
		DELETE FROM `order` WHERE order_num = #{order_num};
	</delete> -->

</mapper>