<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>e-commerce.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo-wrapper">
        <h1 onClick="document.location.href='index.html'">E-Commerce</h1>
      </div>
      <div>
        <section class="body-wrapper">
          <h1>내 주문 조회 하기</h1>
          <hr/>
          <h3>주문 1시간</h3>
          <p>총 가격 : 111111</p>
          <p> 주문 상태 : 배송중</p>
          <p>주문목록</p>
          <article class="item-wrapper">
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
          </article>

          <hr/>
          <h3>주문2 시간</h3>
          <p>총 가격 : 1111111</p>
          <p> 주문 상태 : 배송 준비 중</p>
          <p>주문목록</p>
          <article class="item-wrapper">
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
            <div class="item-small">
              <img src="https://m.coreattiz.com/data/goods/22/04/16/1000000198/1000000198_detail_631.jpg" alt=""></img>
              <h5> 제품 명 </h5>
              <div class="info">
                <p><b>가격</b> : 23000 원</p>
                <p><b>수량</b> : 5 </p>
              </div>
            </div>
          </article>
          
          
        </section>
      </div>
    </div>
  </body>
</html>
